<a href="https://colab.research.google.com/github/youminpark/NEUR265/blob/main/notebooks/Fundamentals_01_24_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programming Fundamentals

## Syntax, Expressions, and Variables

This notebook will introduce you to Google Colaboratory. We'll also go over the basics of Python syntax.

### At the end of this notebook, you'll be able to:
* Use Google Colab to run Python3 code
* Use basic <b>arithmetic operations</b> in Python
* Assign <b>variables</b> and manipulate them
* Recognize different **types** of variables

# What is Google Colaboratory?

Google Colaboratory is a Jupyter notebook that is hosted by Google's servers.

A <b>Jupyter notebook</b> is a way to combine executable code, code ouputs, and text into one connected file.

When you run code in Colaboratory, the code is being executed by CPUs (or GPUs) that belong to Google. The advantage of this is that you don't need to use any **local** resources to run your code.

Jupyter notebooks have two types of cells:

* A **Markdown** cell (like this one) - used for adding text to your notebook
* A **Code** cell - used for executing Python code and viewing output

### Using Markdown

Markdown is useful because it can be formatted using simple symbols.

* You can create bulleted lists using asterisks.
* Similarly, you can create numbered lists using numbers.
* You can **bold** with two asterisks or underscores on either side ('**bold**') or *italicize* with one asterisk or underscore ('*italicize*')
* Pound signs (#) create headers. More pound signs means a smaller header.

><b>Task:</b> Edit the markdown cell below with a quick biography of yourself. You should have your name as a big header, a short quippy subtitle for yourself as a smaller header, and three bullet points that use both <b>bold</b> and <i>italic</i>.<div>


# Youmin Park's Fast and Loose Biopic
#### I promise this is super cool
* Senior Chemical Engineering Major at Lafayette College
* Immigrated from South Korea
* Native to Queens, NY
* _Detests_ solving differential equations by hand
* **BIG** fan of Panera's Green Tea
* Experimental design is my **passion**

### Using Code cells

Code cells will be read by the Python interpretor. In other words, the Python kernel will run whatever it recognizes as code within the cell.

<div class=\"alert alert-success\"><b>Task:</b> Run the code cell below (see instructions within the cell).

In [1]:
# In Python, anything with a "#" in front of it is code annotation, and is not read by the computer.
# Run this cell by clicking in it and then pressing shift and enter/return simultaneously.
# The line below will print a message for us. After you import it, Python will print a message
# (having printed messages like these is a really nice way to check that your cell actually ran!)
print('Nice work!')

Nice work!

### Python Expressions

We can perform various arithmetic operations in Python:

|  Symbol  |     Operation     | Usage |
|:--------:|:-----------------:|:-----:|
|     +    |      Addition     |  10+2 |
|     -    |    Subtraction    |  10-2 |
|     *    |   Multiplication  |  10*2 |
|     /    |      Division     |  10/2 |
|    **    |      Exponent     | 10**2 |
|     %    |       Modulo      | 10%2  |

Notes:

* The default order of operations is the same as in mathematics! (PEMDAS)
* If you want a whole number from your division, use // instead

><b>Task:</b> Try each of the operators above. Before using the modulo operator, predict what it will output, and make sure it produces what you expect.

In [8]:
10+2
10-2
10/2
10*2
10**2
10%2
11/2

5

## Variables

Variables enable us to store a value and come back to it later. They are defined with 'name = value'. *Assignment is not the same thing as equality*, as in mathematics.

### Assigning variables

><b>Task:</b> Create two variables: a & b. Then, use an expression that combines a and b, and assign this to c. In the end, c should be equal to 6.

In [18]:
# Let's save a few integers and then manipulate them.
a = 1
b = 5
c = a + b
print(c)

6

<b>Note</b>: Most code cells will not give you an output unless you ask for it. You can use 'print()' to output a variable or string. However, cells that *only* contain one variable will print its value.

><b>Task:</b> Create a cell below and output your variable c.

In [19]:
print(c)

6

Usefully, you can run your cells out of order. This is useful for testing and debugging. Change your equation for 'c' above, and re-run the cell with 'c' alone to check its resulting value.

### Types of Variables

Variables can be different types. Python lets you change the type of variables (the function is in parentheses below), however, *you cannot combine types*.

* Integers ('int')
* String ('str'): letters, numbers, symbols, spaces
* Float ('float'): any number with a decimal point (floating point number)

You can check what type your variable is by using 'type(variable)'.

<b>Note</b>: If you ever need help using a function (e.g., 'type') in Jupyter notebook, you can enter the function followed by a question mark or 'help(function)'. For example, 'type?' or 'help(type)'

<b>Hint</b>: You can wrap commands in other commands. For example, we could write 'print(type(all))'.

><b>Task:</b> In the cell below, check the type of your variable c.

In [14]:
# Check the type of c here
type(c)

int

Different operators in Python will produce different types of variables.

><b>Task:</b> Compare the results of 12/2 and 12//2 by assigning the results of these operations to two different variables. Then, use the `int` and `float` functions to transform these variables into an integer and a float called `result_int` and `result_float`, respectively.

In [26]:
# Write your code here
silly = 12/2  # has decimals
goose = 12//2 # truncated

#type(silly)
#type(goose)

result_int = int(silly)
result_float = float(goose)

print(result_int)
print(result_float)

6
6.0

><b>Task:</b> What happens when you add a float (result_float) and an integer (result_int)? Test below.

In [30]:
# Add your float and int here
silly + goose

12.0

We can use the command `round()` to round a float number to a whole number.

><b>Task:</b> Try round with a float below, and print your result. What kind of variable does this create?

In [32]:
#round(silly)
sillier = 6.9
round(sillier)

7

### Working with Strings

Strings are represented by matching beginning & ending quotation marks. A few useful notes:

* Quotation marks can be single (`'`) or double (`"`); use single within double (we'll stick to single, most of the time)
  * One single quotation mark within a pair of double quotation marks will be interpreted as an apostrophe (a single quotation mark).
* Use `\\` to keep single or double quotation mark, instead of reading it as a string (e.g., for a quote or an apostrophe)
* <b>Concatenate</b> strings (can be variables) with +

><b>Task:</b> Assign your first name to a variable called `d` and your last name to a variable called `e`. Add the two variables together. What is the output? Multiply the two variables. What is the output?

In [35]:
# Create your variables here
d = 'Youmin'
e = 'Park'

# Now, add them together
print (d + e)

YouminPark

In [37]:
# Finally, multiply them together
print(d * e)

TypeError: can't multiply sequence by non-int of type 'str'

><b>Task:</b> Create a new Code cell, and try adding '80' to your `d` variable. What is the output? Try multiplying your `e` variable by 80. What is the output? Try dividing your `e` variable by 80. What is the output?

In [42]:
d*80

'YouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYouminYoumin'

We can use the `print` function to show more than one variable, as well as variables of different types. You can separate items within `print` by commas to print multiple variables, e.g. `print(a,b,"name")`. You can also print variables within strings by using `print(f)`, and calling variables in `{}`.

><b>Task:</b> Create a variable, `age`, that is equal to your age in years. Print a sentence that says `'My name is {first name} {last name}, and I am {age} years old'.`

In [54]:
# Create your sentence here
age = 21
# print('My name is',d,e,'and I am', age, 'years old')
print(f'My name is {d} {e} and I am {age} years old')

My name is Youmin Park and I am 21 years old

As we're working through this notebook, the kernel also stores your namespace - all the variables and code that you have declared (executed). You can check which variables and functions are available with the command `%who`, or `%whos` (for more detailed information)

><b>Task:</b> Use the `who(s)` command to check your variables below.

In [57]:
%whos

Variable       Type     Data/Info
---------------------------------
a              int      1
age            int      21
b              int      5
c              int      6
d              str      Youmin
e              str      Park
goose          int      6
result_float   float    6.0
result_int     int      6
sentence       str      My name is {d} {e}, and I am {age} years old
sillier        float    6.9
silly          float    6.0

## Declaring variables cheat sheet

Not *every* word or combination of words and numbers can be a variable name. For example, Python has a list of <b>reserved keywords</b> that cannot be variable names:

<table type=\"text/css\">
<tr>
<td><code>False</code></td>
<td><code>None</code></td>
<td><code>True</code></td>
<td><code>and</code></td>
<td><code>as</code></td>
<td><code>assert</code></td>
<td><code>break</code></td>
</tr>
<tr>
<td><code>class</code></td>
<td><code>continue</code></td>
<td><code>def</code></td>
<td><code>del</code></td>
<td><code>elif</code></td>
<td><code>else</code></td>
<td><code>except</code></td>
</tr>
<tr>
<td><code>finally</code></td>
<td><code>for</code></td>
<td><code>from</code></td>
<td><code>global</code></td>
<td><code>if</code></td>
<td><code>import</code></td>
<td><code>in</code></td>
</tr>
<tr>
<td><code>is</code></td>
<td><code>lambda</code></td>
<td><code>nonlocal</code></td>
<td><code>not</code></td>
<td><code>or</code></td>
<td><code>pass</code></td>
<td><code>raise</code></td>
</tr>
<tr>
<td><code>return</code></td>
<td><code>try</code></td>
<td><code>while</code></td>
<td><code>with</code></td>
<td><code>yield</code></td>
</tr>   
</table>

><b>Task:</b> Attempt to create variables with three different reserved words above. Observe what error you receive.

In [58]:
from = 7

SyntaxError: invalid syntax (<ipython-input-58-a60736d363b3>, line 1)

><b>Task:</b> Instead of simply giving you the other rules for creating variables, use trial and error figure out what works and what doesn't. Are variables case-sensitive? Do numbers and symbols (e.g., %, ^, -) work, and if so, where? Derive three rules about variables and write these in a Markdown cell below.

## Your answers here!

1. Variables are case sensitive
2.

Save this Jupyter notebook to your GitHub repository by choosing "File", and "Save a Copy in GitHub" from the drop-down menu above.